name: Create and publish a Docker image

on:
  workflow_dispatch:
  push:
    branches:
    - main
    paths:
    - './docker/**'
    - './docker-compose.yml'
    - './VERSION'
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: collinmcneese/github-migration-analyzer

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Output Collector
        id: output-collector
        uses: collinmcneese/file-output-collector@main
        with:
          file: "./VERSION"

      - name: Log in to the Container registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: build-docker
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: ./docker
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{steps.output-collector.outputs.output}}

      - name: debug build
        run: |
          echo "digest: ${{ steps.build-docker.outputs.digest }}"
          echo "metadata: ${{ steps.build-docker.outputs.metadata }}"
          echo "imageid: ${{ steps.build-docker.outputs.imageid }}"

      - name: docker - Build Attestation
        continue-on-error: true
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: "${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.output-collector.outputs.output }}"
          subject-digest: "${{ steps.build-docker.outputs.digest }}"
          push-to-registry: false
